CONFIG_PACKAGE_tr69d=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libxml2=y
# CONFIG_LIBCURL_OPENSSL is not set
CONFIG_LIBCURL_MBEDTLS=y
# CONFIG_LIBCURL_WOLFSSL is not set
# CONFIG_LIBCURL_GNUTLS is not set
# CONFIG_LIBCURL_NOSSL is not set
# CONFIG_PACKAGE_libopenssl is not set
# CONFIG_PACKAGE_libopenssl-afalg is not set
# CONFIG_PACKAGE_libopenssl-conf is not set
# CONFIG_PACKAGE_libopenssl-devcrypto is not set
# CONFIG_PACKAGE_libopenssl-legacy is not set
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_HTTP_AUTH=y
CONFIG_LIBCURL_COOKIES=y
